--
-- PostgreSQL database dump
--

\restrict 8bG6cmzNHh8nb3shC5gqXfe6GfcERRybxZh2X7sUPyelqUJmX6KL94kus9WuGzO

-- Dumped from database version 17.6 (0d47993)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'INPROGRESS',
    'DELIVERED',
    'REFUNDED',
    'CANCELED'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Banner; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Banner" (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text NOT NULL,
    image text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    url text
);


--
-- Name: Blog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Blog" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    image text,
    "mainTopic" text NOT NULL,
    tags text[],
    "authorId" text NOT NULL,
    "socialMediaLinks" jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Brand; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Brand" (
    id text NOT NULL,
    name text NOT NULL,
    image text,
    slug text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Campaign; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Campaign" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    image text DEFAULT 'images/campaign/campaign.png'::text,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP,
    slug text NOT NULL,
    "categoryId" text NOT NULL,
    "viewCount" integer DEFAULT 0,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "eCategoryId" text
);


--
-- Name: Cart; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Cart" (
    id text NOT NULL,
    "userId" text,
    "deviceMac" text,
    vat double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CartItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CartItem" (
    id text NOT NULL,
    "cartId" text NOT NULL,
    "eProductId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "discountPercent" double precision DEFAULT 0,
    price double precision DEFAULT 0 NOT NULL,
    color text,
    size text
);


--
-- Name: Category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    text text,
    image text DEFAULT 'images/category/category.png'::text,
    slug text NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    serial integer DEFAULT 0 NOT NULL
);


--
-- Name: Color; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Color" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contact" (
    id text NOT NULL,
    email text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    country text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    description text NOT NULL,
    "firstName" text NOT NULL,
    "hearFrom" text NOT NULL,
    "lastName" text NOT NULL,
    "phoneNumber" text NOT NULL,
    "time" timestamp(3) without time zone NOT NULL,
    "subSubServiceId" text NOT NULL,
    "isFreeContact" boolean DEFAULT false NOT NULL,
    "toDate" timestamp(3) without time zone
);


--
-- Name: Coupon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Coupon" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "orderPriceLimit" double precision,
    "discountAmount" double precision NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Discount; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Discount" (
    id text NOT NULL,
    "fromDate" timestamp(3) without time zone NOT NULL,
    "toDate" timestamp(3) without time zone NOT NULL,
    categories text[],
    products text[],
    "discountPercent" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ECategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ECategory" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    text text,
    image text DEFAULT 'images/category/category.png'::text,
    slug text NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    serial integer DEFAULT 0 NOT NULL
);


--
-- Name: EOrder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EOrder" (
    id text NOT NULL,
    "cartId" text NOT NULL,
    email text NOT NULL,
    "phoneNumber" text NOT NULL,
    address text NOT NULL,
    "paymentMethod" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    data boolean NOT NULL,
    "deliveryCharge" double precision NOT NULL,
    vat double precision NOT NULL,
    "paymentDone" boolean NOT NULL,
    "paymentType" text NOT NULL,
    name text
);


--
-- Name: EProduct; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EProduct" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "eCategoryId" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    color text[],
    size text[],
    price double precision NOT NULL,
    images text[]
);


--
-- Name: EProductStock; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EProductStock" (
    id text NOT NULL,
    "eProductId" text NOT NULL,
    color text NOT NULL,
    size text NOT NULL,
    quantity integer DEFAULT 0 NOT NULL
);


--
-- Name: EReview; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EReview" (
    id text NOT NULL,
    rating integer NOT NULL,
    review text,
    "productId" text NOT NULL,
    email text NOT NULL,
    "phoneNumber" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL
);


--
-- Name: Faq; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Faq" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    "subCategoryId" text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "subSubCategoryId" text
);


--
-- Name: Module; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Module" (
    id text NOT NULL,
    name text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Newsletter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Newsletter" (
    id text NOT NULL,
    email text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Order; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "userId" text,
    "couponId" text,
    "invoiceNumber" text,
    "customerName" text,
    "customerPhone" text,
    "customerAddress" text,
    "customerBillingAddress" text,
    "customerEmail" text,
    "customerCity" text,
    "customerPostalCode" text,
    "totalItems" double precision NOT NULL,
    "subtotalCost" double precision NOT NULL,
    subtotal double precision NOT NULL,
    "paymentMethod" text DEFAULT 'COD'::text,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus",
    otp text,
    "deliveryChargeInside" double precision,
    "deliveryChargeOutside" double precision,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "productAttributeId" text NOT NULL,
    name text NOT NULL,
    size text NOT NULL,
    "costPrice" double precision NOT NULL,
    "retailPrice" double precision NOT NULL,
    "discountPercent" double precision DEFAULT 0,
    "discountPrice" double precision DEFAULT 0,
    "discountedRetailPrice" double precision NOT NULL,
    quantity double precision NOT NULL,
    "totalCostPrice" double precision NOT NULL,
    "totalPrice" double precision NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP,
    amount double precision DEFAULT 0 NOT NULL,
    due double precision DEFAULT 0,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: PhotoSlider; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PhotoSlider" (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text NOT NULL,
    image text NOT NULL,
    url text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Preorder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Preorder" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "productAttributeId" text
);


--
-- Name: Pricing; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Pricing" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    "subCategoryId" text NOT NULL,
    type text NOT NULL,
    price double precision NOT NULL,
    title text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "subSubCategoryId" text NOT NULL,
    "isDelete" boolean DEFAULT false NOT NULL
);


--
-- Name: Product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text,
    image text,
    link text,
    "mainCategory" text NOT NULL,
    price double precision NOT NULL,
    tags text[],
    "isDeal" boolean DEFAULT false NOT NULL
);


--
-- Name: ProductAttribute; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ProductAttribute" (
    id text NOT NULL,
    "productId" text NOT NULL,
    size text NOT NULL,
    "costPrice" double precision NOT NULL,
    "retailPrice" double precision NOT NULL,
    "discountPercent" double precision DEFAULT 0,
    "discountPrice" double precision DEFAULT 0,
    "discountedRetailPrice" double precision NOT NULL,
    "stockAmount" double precision NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ProductImage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ProductImage" (
    id text NOT NULL,
    "productId" text NOT NULL,
    image text DEFAULT 'images/product/product.png'::text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Review; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Review" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "userId" text NOT NULL,
    rating double precision NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name text NOT NULL,
    price double precision DEFAULT 0,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RoleModule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RoleModule" (
    id text NOT NULL,
    "roleId" text NOT NULL,
    "moduleId" text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Subcategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Subcategory" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    name text NOT NULL,
    text text,
    image text,
    slug text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text,
    serial integer DEFAULT 0 NOT NULL
);


--
-- Name: Subsubcategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Subsubcategory" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    name text NOT NULL,
    image text,
    slug text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text,
    "subCategoryId" text NOT NULL,
    text text,
    serial integer DEFAULT 0 NOT NULL
);


--
-- Name: Supplier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Supplier" (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone text NOT NULL,
    email text,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "roleId" text,
    "parentId" text,
    name text NOT NULL,
    email text NOT NULL,
    phone text NOT NULL,
    address text,
    "billingAddress" text,
    country text,
    city text,
    "postalCode" text,
    image text DEFAULT 'images/user/user.png'::text,
    password text,
    otp integer,
    "otpCount" integer DEFAULT 0,
    "initialPaymentAmount" double precision DEFAULT 0,
    "initialPaymentDue" double precision DEFAULT 0,
    "installmentTime" double precision DEFAULT 0,
    "refreshToken" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "deletedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    designation text
);


--
-- Name: Wishlist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Wishlist" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _ModuleToRole; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."_ModuleToRole" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Data for Name: Banner; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Blog; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Blog" (id, title, description, image, "mainTopic", tags, "authorId", "socialMediaLinks", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Brand; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Brand" (id, name, image, slug, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Campaign; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Campaign" (id, "userId", name, image, date, slug, "categoryId", "viewCount", "createdBy", "updatedBy", "deletedBy", "isActive", "isDeleted", "createdAt", "updatedAt", "eCategoryId") FROM stdin;
\.


--
-- Data for Name: Cart; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Color; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Color" (id, name, code, "createdAt", "updatedAt") FROM stdin;
9365e0cb-7a24-4fdb-9dc1-f043f84bdaf7	Black	#000000	2025-05-28 05:21:22.062	2025-05-28 05:21:22.062
f76d05a6-21d1-4d71-9b86-65211dc6612a	White	#FFFFFF	2025-05-30 10:08:08.074	2025-05-30 10:08:08.074
05521a02-e4a9-4457-98a3-2781f1ab7e92	Pink	#FF69B4	2025-11-09 20:55:37.42	2025-11-09 20:55:37.42
\.


--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Coupon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Coupon" (id, code, name, "orderPriceLimit", "discountAmount", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Discount; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Discount" (id, "fromDate", "toDate", categories, products, "discountPercent", "createdAt", "updatedAt") FROM stdin;
6be2451f-ac94-4d6d-ad56-9369c5a0fa3f	2025-06-03 04:00:00	2025-06-06 06:59:00	{47bc1de9-376b-4dff-b273-5c6d4ff5e002}	{}	15	2025-06-03 03:57:49.983	2025-06-03 03:57:49.983
515ebb46-466b-434e-b3ba-d0e57adfdc47	2025-08-04 18:17:00	2025-08-05 18:17:00	{}	{72439c4d-b9ee-494c-aaa3-1735612808c1}	15	2025-08-04 18:17:41.081	2025-08-04 18:17:41.081
\.


--
-- Data for Name: ECategory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: EOrder; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: EProduct; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: EProductStock; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: EReview; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."EReview" (id, rating, review, "productId", email, "phoneNumber", "createdAt", "updatedAt", name) FROM stdin;
4b6cf4ed-d7f2-43e3-8acd-ea45b12d91ed	5	Nice product	72439c4d-b9ee-494c-aaa3-1735612808c1	mahfuj.jim2@gmail.com	01789775266	2025-07-07 05:41:33.744	2025-07-07 05:41:33.744	Mahfuj Ahmed Jim
a3d742a4-42a4-40f0-bc13-eb3ca83b280c	5	Nice!!!	72439c4d-b9ee-494c-aaa3-1735612808c1	mahfuj.jim2@gmail.com	01789775266	2025-07-07 05:44:46.505	2025-07-07 05:44:46.505	Mahfuj Ahmed Jim
\.


--
-- Data for Name: Faq; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Faq" (id, "categoryId", "subCategoryId", question, answer, "isActive", "createdAt", "updatedAt", "subSubCategoryId") FROM stdin;
\.


--
-- Data for Name: Module; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Newsletter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Newsletter" (id, email, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Order" (id, "userId", "couponId", "invoiceNumber", "customerName", "customerPhone", "customerAddress", "customerBillingAddress", "customerEmail", "customerCity", "customerPostalCode", "totalItems", "subtotalCost", subtotal, "paymentMethod", status, otp, "deliveryChargeInside", "deliveryChargeOutside", "isDeleted", "createdBy", "updatedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OrderItem" (id, "orderId", "productId", "productAttributeId", name, size, "costPrice", "retailPrice", "discountPercent", "discountPrice", "discountedRetailPrice", quantity, "totalCostPrice", "totalPrice", "isDeleted", "createdBy", "updatedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Payment" (id, "userId", date, amount, due, "isDeleted", "createdBy", "updatedBy", "deletedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PhotoSlider; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Preorder; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Preorder" (id, "productId", "userId", "createdAt", "updatedAt", "productAttributeId") FROM stdin;
\.


--
-- Data for Name: Pricing; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Pricing" (id, "categoryId", "subCategoryId", type, price, title, description, "createdAt", "updatedAt", "isActive", "subSubCategoryId", "isDelete") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Product" (id, name, "createdBy", "updatedBy", "deletedBy", "isActive", "createdAt", "updatedAt", description, image, link, "mainCategory", price, tags, "isDeal") FROM stdin;
\.


--
-- Data for Name: ProductAttribute; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ProductAttribute" (id, "productId", size, "costPrice", "retailPrice", "discountPercent", "discountPrice", "discountedRetailPrice", "stockAmount", "isDeleted", "createdBy", "updatedBy", "deletedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ProductImage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ProductImage" (id, "productId", image, "isDeleted", "createdBy", "updatedBy", "deletedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Review" (id, "productId", "userId", rating, comment, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: RoleModule; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Subcategory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Subsubcategory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Supplier; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Supplier" (id, "userId", name, address, phone, email, "createdBy", "updatedBy", "deletedBy", "isDeleted", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Wishlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Wishlist" (id, "productId", "userId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _ModuleToRole; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."_ModuleToRole" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Banner Banner_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Banner"
    ADD CONSTRAINT "Banner_pkey" PRIMARY KEY (id);


--
-- Name: Blog Blog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Blog"
    ADD CONSTRAINT "Blog_pkey" PRIMARY KEY (id);


--
-- Name: Brand Brand_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_pkey" PRIMARY KEY (id);


--
-- Name: Campaign Campaign_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_pkey" PRIMARY KEY (id);


--
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- Name: Cart Cart_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Color Color_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Color"
    ADD CONSTRAINT "Color_pkey" PRIMARY KEY (id);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY (id);


--
-- Name: Coupon Coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Coupon"
    ADD CONSTRAINT "Coupon_pkey" PRIMARY KEY (id);


--
-- Name: Discount Discount_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Discount"
    ADD CONSTRAINT "Discount_pkey" PRIMARY KEY (id);


--
-- Name: ECategory ECategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ECategory"
    ADD CONSTRAINT "ECategory_pkey" PRIMARY KEY (id);


--
-- Name: EOrder EOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EOrder"
    ADD CONSTRAINT "EOrder_pkey" PRIMARY KEY (id);


--
-- Name: EProductStock EProductStock_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EProductStock"
    ADD CONSTRAINT "EProductStock_pkey" PRIMARY KEY (id);


--
-- Name: EProduct EProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EProduct"
    ADD CONSTRAINT "EProduct_pkey" PRIMARY KEY (id);


--
-- Name: EReview EReview_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EReview"
    ADD CONSTRAINT "EReview_pkey" PRIMARY KEY (id);


--
-- Name: Faq Faq_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Faq"
    ADD CONSTRAINT "Faq_pkey" PRIMARY KEY (id);


--
-- Name: Module Module_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Module"
    ADD CONSTRAINT "Module_pkey" PRIMARY KEY (id);


--
-- Name: Newsletter Newsletter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Newsletter"
    ADD CONSTRAINT "Newsletter_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: PhotoSlider PhotoSlider_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PhotoSlider"
    ADD CONSTRAINT "PhotoSlider_pkey" PRIMARY KEY (id);


--
-- Name: Preorder Preorder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Preorder"
    ADD CONSTRAINT "Preorder_pkey" PRIMARY KEY (id);


--
-- Name: Pricing Pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Pricing"
    ADD CONSTRAINT "Pricing_pkey" PRIMARY KEY (id);


--
-- Name: ProductAttribute ProductAttribute_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ProductAttribute"
    ADD CONSTRAINT "ProductAttribute_pkey" PRIMARY KEY (id);


--
-- Name: ProductImage ProductImage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ProductImage"
    ADD CONSTRAINT "ProductImage_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: RoleModule RoleModule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RoleModule"
    ADD CONSTRAINT "RoleModule_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Subcategory Subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subcategory"
    ADD CONSTRAINT "Subcategory_pkey" PRIMARY KEY (id);


--
-- Name: Subsubcategory Subsubcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subsubcategory"
    ADD CONSTRAINT "Subsubcategory_pkey" PRIMARY KEY (id);


--
-- Name: Supplier Supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Wishlist Wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wishlist"
    ADD CONSTRAINT "Wishlist_pkey" PRIMARY KEY (id);


--
-- Name: _ModuleToRole _ModuleToRole_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."_ModuleToRole"
    ADD CONSTRAINT "_ModuleToRole_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Brand_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Brand_name_key" ON public."Brand" USING btree (name);


--
-- Name: Subcategory_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Subcategory_name_key" ON public."Subcategory" USING btree (name);


--
-- Name: Subsubcategory_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Subsubcategory_name_key" ON public."Subsubcategory" USING btree (name);


--
-- Name: _ModuleToRole_B_index; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "_ModuleToRole_B_index" ON public."_ModuleToRole" USING btree ("B");


--
-- Name: Blog Blog_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Blog"
    ADD CONSTRAINT "Blog_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Campaign Campaign_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Campaign Campaign_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public."Cart"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_eProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_eProductId_fkey" FOREIGN KEY ("eProductId") REFERENCES public."EProduct"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Cart Cart_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Category Category_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Contact Contact_subSubServiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_subSubServiceId_fkey" FOREIGN KEY ("subSubServiceId") REFERENCES public."Subsubcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ECategory ECategory_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ECategory"
    ADD CONSTRAINT "ECategory_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EOrder EOrder_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EOrder"
    ADD CONSTRAINT "EOrder_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public."Cart"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EProductStock EProductStock_eProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EProductStock"
    ADD CONSTRAINT "EProductStock_eProductId_fkey" FOREIGN KEY ("eProductId") REFERENCES public."EProduct"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EProduct EProduct_eCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EProduct"
    ADD CONSTRAINT "EProduct_eCategoryId_fkey" FOREIGN KEY ("eCategoryId") REFERENCES public."ECategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EReview EReview_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EReview"
    ADD CONSTRAINT "EReview_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."EProduct"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Faq Faq_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Faq"
    ADD CONSTRAINT "Faq_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Faq Faq_subCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Faq"
    ADD CONSTRAINT "Faq_subCategoryId_fkey" FOREIGN KEY ("subCategoryId") REFERENCES public."Subcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Faq Faq_subSubCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Faq"
    ADD CONSTRAINT "Faq_subSubCategoryId_fkey" FOREIGN KEY ("subSubCategoryId") REFERENCES public."Subsubcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_productAttributeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productAttributeId_fkey" FOREIGN KEY ("productAttributeId") REFERENCES public."ProductAttribute"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_couponId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_couponId_fkey" FOREIGN KEY ("couponId") REFERENCES public."Coupon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Preorder Preorder_productAttributeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Preorder"
    ADD CONSTRAINT "Preorder_productAttributeId_fkey" FOREIGN KEY ("productAttributeId") REFERENCES public."ProductAttribute"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Preorder Preorder_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Preorder"
    ADD CONSTRAINT "Preorder_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Pricing Pricing_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Pricing"
    ADD CONSTRAINT "Pricing_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Pricing Pricing_subCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Pricing"
    ADD CONSTRAINT "Pricing_subCategoryId_fkey" FOREIGN KEY ("subCategoryId") REFERENCES public."Subcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Pricing Pricing_subSubCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Pricing"
    ADD CONSTRAINT "Pricing_subSubCategoryId_fkey" FOREIGN KEY ("subSubCategoryId") REFERENCES public."Subsubcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoleModule RoleModule_moduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RoleModule"
    ADD CONSTRAINT "RoleModule_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES public."Module"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoleModule RoleModule_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RoleModule"
    ADD CONSTRAINT "RoleModule_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subcategory Subcategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subcategory"
    ADD CONSTRAINT "Subcategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subsubcategory Subsubcategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subsubcategory"
    ADD CONSTRAINT "Subsubcategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subsubcategory Subsubcategory_subCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subsubcategory"
    ADD CONSTRAINT "Subsubcategory_subCategoryId_fkey" FOREIGN KEY ("subCategoryId") REFERENCES public."Subcategory"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Supplier Supplier_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Wishlist Wishlist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wishlist"
    ADD CONSTRAINT "Wishlist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _ModuleToRole _ModuleToRole_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."_ModuleToRole"
    ADD CONSTRAINT "_ModuleToRole_A_fkey" FOREIGN KEY ("A") REFERENCES public."Module"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _ModuleToRole _ModuleToRole_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."_ModuleToRole"
    ADD CONSTRAINT "_ModuleToRole_B_fkey" FOREIGN KEY ("B") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 8bG6cmzNHh8nb3shC5gqXfe6GfcERRybxZh2X7sUPyelqUJmX6KL94kus9WuGzO

